#imagePreview {
    max-width: 100%;
    max-height: 200px;
    margin-bottom: 10px;
  }

  .full-width-container {
    width: 100%;
  }

  .store-details {
    display: flex;
    align-items: center;
  }

  .store-details img {
    max-width: 150px;
    max-height: 150px;
    margin-right: 20px;
  }

  /* Center the content and add space on the right */
  .centered-container {
    display: flex;
    justify-content: center;
    margin-right: 20px; /* Adjust the margin as needed */
  }

  .truncated-paragraph {
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden; /* Hides any content that exceeds the width of the container */
    text-overflow: ellipsis; /* Adds ellipsis (...) when content overflows */
    max-width: 300px; /* Adjust the maximum width of the container as needed */
  }
